/* Extra Small Devices (Phones) */
@media (max-width: 575.98px) {
	html {
		font-size: 12px;
	}

	header {
		background: radial-gradient(
			circle at 50% 70%,
			#6182aa,
			#286598,
			#165d95,
			#1d4d86
		);
	}

	#hero {
		height: 65vh;
	}

	.image-column img {
		max-width: 50%;
		max-height: 50%;
	}

	.table-footer {
		flex-direction: column-reverse;
		align-items: flex-start;
	}

	.table-footer .left-content {
		margin-top: 1em;
	}

	.modal {
		background-position: 50% 50%;
		background-size: contain;
		left: 35%;
	}

	.modal h2 {
		margin: 0;
	}

	.more-questions {
		padding: 0;
	}
}
/* Mobile Devices styling < 768 */
@media (max-width: 767px) {
	body {
		margin: 0;
		padding: 0;
	}

	.content-column {
		width: 100%;
	}

	h1 {
		font-size: 3rem;
	}

	#mobile-menu-icon {
		display: block;
		cursor: pointer;
		text-align: end;
	}

	.bar {
		width: 30px;
		height: 3px;
		background-color: #fff;
		margin: 6px 0;
		transition: 0.4s;
	}

	/* Add styles for when the menu is open */
	.nav-links {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 10%; /* Position below the mobile menu icon */
		right: 0;
		width: fit-content;
		background-color: #1a3859; /* Set background color for the mobile menu */
		transition: 0.5s;
		z-index: 1; /* Ensure it appears above other content */
	}

	.nav-links li {
		text-align: center;
		padding: 1em 1em;
		margin-right: 0;
		width: 100%;
		font-weight: 800;
	}

	.nav-links li:hover {
		background-color: #ffffff1a;
	}

	#search-bar {
		display: flex;
		align-items: flex-end;
		margin-bottom: 2em;
		margin: 0 1em;
		padding: 0;
	}

	#search-bar input {
		flex: 1;
		padding: 8px;
		height: 3rem;
		border: 1px solid #ccc;
		border-radius: 4px;
	}

	#search-bar button {
		margin-left: 0;
		height: 3rem;
		width: 3rem;
		background-color: #6182aa;
		color: white;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}

	#search-bar button:hover {
		background-color: #165d95;
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
	}

	.search-button {
		display: none;
	}

	/* Hero section styles */
	#hero {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.content-column {
		padding: 2em;
		text-align: center;
	}

	/* Stats section styles */

	.stats {
		flex-direction: column;
	}

	.reference-column,
	.salary-column,
	.job-column {
		width: 100%;
	}

	/* Modal popup styling */

	.modal .bottom-row {
		flex-direction: column;
	}

	.bottom-row #campus-preferences {
		width: calc(100%);
	}

	.bottom-row .checkbox-container {
		width: calc(100%);
	}

	.form {
		flex-direction: column;
	}

	.more-questions {
		display: block;
	}
}

/* Small Devices (Tablets) */
@media (min-width: 577px) and (max-width: 767px) {
	header {
		background: radial-gradient(
			circle at 50% 85%,
			#6182aa,
			#286598,
			#165d95,
			#1d4d86
		);
	}

	/* Hero section styles */

	.content-column {
		padding: 2em;
		text-align: center;
	}

	.image-column img {
		max-width: 50%;
		max-height: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.mobile-menu-icon {
		display: none;
	}

	#search-bar {
		display: none;
	}
}

/* Medium Devices (Laptops) */
@media (min-width: 768px) and (max-width: 991.98px) {
	header {
		background: radial-gradient(
			circle at 65% 50%,
			#6182aa,
			#286598,
			#165d95,
			#1d4d86
		);
	}

	nav {
		padding: 1.5em 1.5em 0 1.5em;
	}

	#hero {
		height: 50vh;
	}

	h1 {
		font-size: 3rem;
	}

	#logo img {
		width: 4rem;
		height: 4rem;
		margin-right: 1em;
	}

	.image-column {
		width: 50%;
		max-width: fit-content;
	}

	.image-column img {
		height: auto;
		width: auto;

		transform: translateX(-10%);
	}

	.more-button button {
		padding: 0.8em 1em;
		font-size: 1.1rem;
		font-weight: 900;
	}

	.img-container {
		flex-direction: column;
	}

	.img-subtitle {
		text-align: center;
		padding-left: 0;
	}

	.testimony {
		font-size: 1.1rem;
	}

	/* Modal popup styling */

	.modal .bottom-row {
		flex-direction: column;
	}

	.bottom-row #campus-preferences {
		width: calc(100%);
	}

	.bottom-row .checkbox-container {
		width: calc(100%);
	}
}

/* Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	html {
		font-size: 13px;
	}

	.image-column {
		width: 60%;
	}

	.image-column img {
		transform: translateX(-5%);
	}

	.search-button button {
		padding: 0.7em;
		margin-right: 2em;
		height: 3.5rem;
		width: 3.5rem;
	}
}

/* Extra Large Devices (Large Desktops) */
@media (min-width: 1200px) and (max-width: 1600px) {
	html {
		font-size: 15px;
	}

	.image-column img {
		transform: translateX(0);
	}
}

/* @media (min-width: 1500px) and (max-width: 2560px) {
	.image-column img {
		transform: translateX(20%);
	}
	.image-column {
		background-color: black;
	}
} */
