* {
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
}

body {
	margin: 0;
}

button {
	cursor: pointer;
}

header {
	background: radial-gradient(
		circle at 65% 60%,
		#6182aa,
		#286598,
		#165d95,
		#1d4d86
	);
}

nav {
	display: flex;
	align-items: center;
	padding: 2em 2em 0 2em;
}

.nav-links {
	list-style: none;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	flex-grow: 1;
}

.nav-links li {
	margin-right: 20px;
}

.nav-links a {
	color: #cddce9;
	text-decoration: none;
}

.nav-links #logo img {
	width: 70px;
	height: 70px;
}

.search-button button {
	color: #cbdce9;
	background-color: #004d8a;
	border: 1px solid #cbdce9;
	border-radius: 50%;
	padding: 10px;
	margin-right: 1rem;
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
}

#hero {
	display: flex;
	justify-content: flex-start;
	height: 62vh;
}

h1 {
	font-weight: 800;
	font-size: 3.5rem;
	margin-bottom: 0;
	line-height: 1.2;
}

h1,
h3 {
	color: #ffffff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h4 {
	margin: 0 0 35px 0;
}

.content-column {
	padding: 2em;
	padding-right: 0;
}

.image-column {
	overflow: hidden;
	flex: 0 0 65%;
	padding: 0;
	height: 100%;
	width: 100%;
	max-width: fit-content;
}

.image-column img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	transform: translateX(-10%);
}

.apply-button button {
	border-radius: 40px;
	background-color: #f2edd5;
	padding: 10px 32px 10px 32px;
	font-weight: 900;
	font-size: 1.2em;
	color: #5a5a5a;
	border: none;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.stats {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 3em 5em;
}

.reference-column,
.salary-column,
.job-column {
	width: 25%;
}

.stats h5,
h2 {
	color: #0066a0;
}

.stats h2 {
	margin-top: 0;
	font-size: 3rem;
	font-weight: 900;
}

.stats h5 {
	font-size: 1.5rem;
	font-weight: 100;
	margin-bottom: 0;
	margin-top: 20px;
}

.reference-column {
	border: 1px solid #dddddd;
	border-radius: 15px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	height: 100%;
}

.img-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid #dddddd;
	padding: 20px;
}

.img-container h5,
h6 {
	color: black;
}

.img-subtitle {
	padding-left: 20px;
}

.img-subtitle h5,
h6 {
	margin: 0;
}

.testimony {
	padding: 20px;
	color: #5a5a5a;
	margin: 0;
	font-size: 1.3rem;
}

.reference-column img {
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
}

.more-button button {
	border: 1px solid #00335c;
	background-color: #0067a5;
	color: #ffffff;
	padding: 1rem 3rem;
	border-radius: 8px;
	font-size: 1.5rem;
	font-weight: 900;
}

.learn-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #fafafa;
}

.learn-button button {
	border: 1px solid #00335c;
	background-color: #0067a5;
	color: #ffffff;
	padding: 1rem 3rem;
	border-radius: 8px;
	font-size: 2.5rem;
	font-weight: 900;
	margin: 3rem;
}

#program-content {
	margin: 3em 5em 0 5em;
}

#program-content h3 {
	color: #000000;
	text-shadow: none;
	font-weight: 400;
}

.semester-table {
	width: 100%;
	border: 3px solid #0067aa;
	border-radius: 7px;
	border-spacing: 0;
}

.table-content td {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

th {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	background-color: #fafafa;
	padding: 0.5em 1em;
}

td {
	padding: 0.5em 2.5em;
}

.hours {
	text-align: right;
	padding: 0.5em 1em;
}

.course-number {
	width: 10em;
}

.total-row {
	background-color: #0067a5;
	color: #ffffff;
}

.total-row th {
	background-color: #0067a5;
	border-radius: 0;
}

.total-header {
	text-align: left;
	padding: 0.5em 1em;
}

.table-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2em 0 2.5em 0.2em;
}

.left-content {
	display: flex;
	align-items: center;
}

.left-content button {
	border: 1px solid #00335c;
	background-color: #0067a5;
	color: #ffffff;
	padding: 0.5em 1.5em;
	border-radius: 8px;
	font-size: 1.1rem;
	font-weight: 800;
}

.right-content {
	display: flex;
	justify-content: right;
}

.right-content div {
	padding: 0.7em;
}

.hour-value {
	background-color: #0067aa;
	border: 1px solid #707070;
	color: #ffffff;
	font-weight: 800;
	font-size: 1.5rem;
}

.total-hours {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	color: #0067a5;
	border-top: 1px solid #0067aa;
	border-bottom: 1px solid #0067aa;
	border-right: 1px solid #0067aa;
}

.details-content {
	padding: 3em 5em 0 5em;
	background-color: #fafafa;
}

.details-content p {
	color: #5a5a5a;
	margin: 0;
	padding-bottom: 1.5em;
	font-size: 1.5rem;
}

/* Modal Popup Styling */
.modal {
	/* display: none; */
	position: fixed;
	top: 50%;
	left: 45%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 80%;
	max-width: 70%;
	margin-left: 5em;
	margin-right: 5em;
	padding: 2.5em 2.5em 0;
	border-radius: 8px;
	border: 1px solid #868686;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.4),
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.8),
			rgba(255, 255, 255, 0.95),
			rgba(255, 255, 255, 1)
		),
		url('./images/modal-background.png');
	background-size: cover;
	background-position: center;
	background-color: rgba(255, 255, 255, 0.1);
}

.modal h2 {
	text-align: center;
	font-size: 2rem;
}

.close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	font-size: 2rem;
	padding: 1rem;
	cursor: pointer;
	background-color: #0067af;
	height: 2.5rem;
	width: 2.5rem;
	color: #fbfbfb;
	font-weight: 900;
	border-radius: 50%;
	border: 1px solid #003562;
}

.form {
	display: flex;
}

.form-column {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 0 10px;
}

input,
select {
	font-size: 1rem;
	padding: 0.8em;
	border-radius: 8px;
	border: 1px solid #dddddd;
	margin-top: 1em;
}

.form-column select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #ffffff;
	background-image: url("data:image/svg+xml;utf8,<svg fill='%239f9f9f' height='30' viewBox='0 0 24 24' width='30' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position: right center;
	padding: 1em;
	padding-right: 2em;
}

input:focus,
select:focus {
	border-color: #868686; /* Set the desired highlight color */
	outline: none; /* Remove the default outline */
	color: #868686;
}

option {
	color: #868686;
}

.checkbox-container #check-confirm {
	margin-right: 1em;
	margin-top: 0.5em;
	transform: scale(1.5);
}

.consent {
	display: inline-block;
	color: #9f9f9f;
}

a {
	color: #176fc5;
	text-decoration: none;
}

.checkbox-container {
	display: flex;
	align-items: flex-start;
	width: 200%;
	margin-top: 1em;
}

.more-questions {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #5a5a5a;
	width: 100%;
	font-size: 1.2rem;
	padding: 2em;
}
